<% @reservations.each do |reservation| %>
  <%= reservation.date %>
  <td><%= link_to "Destroy",  profile_reservation_path(reservation), method: :delete, data: { confirm: 'Are you sure?' }  %></td>
<% end %>

