<!-- Current user restaurants -->
<div class="container">
  <div class="titre">
    <h1>Mes restaurants</h1>
  </div>
  <div id="container-restaurant-cards" class="container padding-container">
    <div class="card-restaurant">
      <div class="row">
        <% @restaurants.each do |restaurant| %>
          <div class="col-xs-12 col-sm-4 padding-bottom">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
              <div class="card-category"><%= restaurant.category %></div>
              <div class="card-description">
                <h2><%= restaurant.name %></h2>
                <p><%= link_to 'Voir', restaurant %></p>
              </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <%= link_to 'Voir', restaurant_path(restaurant),  class: "card-link"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
