<table>
  <tbody>
     <% current_user.reservations.each do |reservation| %>
       <tr>
         <td><%= reservation.date %></td>
         <td><%= reservation.restaurant.name %></td>
       </tr>
     <% end %>
   </tbody>
</table>

