<div class="container">

  <h1>Editer un restaurant</h1>

  <%= render 'form', restaurant: @restaurant %>

  <%= link_to 'Restaurant', @restaurant %> |
  <%= link_to 'Retour', restaurants_path %>
  <%= link_to 'Ajouter un commentaire', reviews_path %>


</div>
