
<!-- All restaurants -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.pourcel-chefs-blog.com/blog1/wp-content/uploads/2014/02/chef-cuisine-.jpg');">
  <div class="banner-content">
    <h1>Chef d'un soir est le point de départ d'une expérience inoubliable</h1>
    <p>Reserver une cuisine et devenez chef cuisto pendant une soirée dans votre restaurant préféré</p>
    <%= link_to "Je me lance", root_path, class: "label label-primary reserver" %>
  </div>
</div>

<div class="container home-wrapper">

      <div id="container-restaurant-cards" class="padding-container">
        <div class="row">
            <div class="restaurants">
                <%= render 'restaurant_cards', restaurant: @restaurants %>
            </div>
        </div>
      </div>



      <div
        id="map"

        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>


</div>

