/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: $navbar-height;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-wagon-brand  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  display: flex;
}

/* Barre de recherche */
// .recherche {
//   margin-left: 50px;

// }

.recherche  {
  margin-left: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #EBEBEB !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
  height: 48px !important;
  transition: box-shadow 200ms;
  background-color: #ffffff !important;
  width: 400px;
  font-weight: 40px;
    #query::placeholder {
        font-weight: bold;
    }
}

.green {
    font-color: green;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.recherche input {
  margin-left: 10px;
  border: none;
  width: 350px;
  height: 30px;
}

.recherche input:hover {
  margin-left: 10px;
  border: none;
  box-shadow: none;
  width: 350px;
  height: 30px;
}

.glyphicon {
  margin-left: 10px;
  color: gray;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.form-control {
  margin-top: 0px;
}
